name: jsr

env:
  DENO_VERSION: 2.x

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Set version from tag
        run: deno run -A .scripts/bump_versions.ts ${{ github.ref_name }}

      - name: Publish to JSR
        run: deno publish --allow-dirty
