name: Test

env:
  DENO_VERSION: 2.x

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - run: deno fmt --check
      - run: deno lint
      - run: deno task check

  test:
    runs-on: ubuntu-latest
    services:
      httpbin:
        image: kennethreitz/httpbin
        ports:
          - 18080:80
      grpc-greeter:
        image: romk/grpc-helloworld-reflection
        ports:
          - 50051:50051
      graphql:
        image: npalm/graphql-java-demo
        ports:
          - 14000:8080
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ env.DENO_VERSION }}
      - run: |
          deno task test:coverage
        timeout-minutes: 5

      - run: |
          deno task coverage --lcov > coverage.lcov

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage.lcov
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: jsr-probitas/probitas-client
